_.qtcreator
MotorControllerUI/.qtcreator/*
__init__.py
Backend/MotorPositions.bin
__pycache__/*
*.autosave_init__.py
.DS_Store
Build/*
.motor_litho_env/*
Backend/__pycache__/*
MotorControllerUI/__pycache__/*
